<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Daily Plan</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Master Setup</a></li>
            <li class="breadcrumb-item active">Daily Plan</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <ejs-grid #Grid [allowSorting]="true" [allowPaging]="true" [pageSettings]='pageSettings' [editSettings]="editSettings" [toolbar]="toolbar" [gridLines]="'Both'" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' [allowExcelExport]='true' (toolbarClick)='toolbarClick($event)' (excelQueryCellInfo)='exportQueryCellInfo($event)'>
            <e-columns>
              <e-column field='regNo' headerText="ID" width="60" minWidth="60" [isPrimaryKey]="true"></e-column>
              <e-column field='trackCode' headerText="Trip Code" width="80" minWidth="80"></e-column>
              <e-column field='tripDate' headerText="Trip Date" type="date" [format]="{type: 'date', format:'dd-MMM-yyyy hh:mm a'}" width="100" minWidth="100"></e-column>
              <e-column field='busNo' headerText="Bus No" width="80" minWidth="80"></e-column>
              <e-column field='driverName' headerText="Driver Name" width="100" minWidth="100"></e-column>
              <e-column field='tripTime' headerText="Trip Time" width="60" minWidth="60"></e-column>
              <e-column field='track' headerText="Track" width="80" minWidth="80"></e-column>
              <e-column field='trackType' headerText="Track Type" width="80" minWidth="80"></e-column>
            </e-columns>
            <ng-template #editSettingsTemplate let-data>
              <form [formGroup]="dailyPlanForm">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="required">Trip Code</label>
                    <ejs-dropdownlist formControlName="trackCode" [dataSource]="tripCodeList" [fields]="{ text: 'tripCode', value: 'tripCode' }"  [autofocus]="true"></ejs-dropdownlist>
                    <div *ngIf="validateControl('trackCode')" class="text-danger">
                      Trip Code is required.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label  class="required">Bus No</label>
                    <ejs-dropdownlist formControlName="busNo" [dataSource]='busList' [fields]="{ text: 'busNo', value: 'busNo' }" allowFiltering="true" (change)="onBusNoChange($event.value)" popupHeight='200px' floatLabelType='Always' ></ejs-dropdownlist>
                    <div [style.visibility]='validateControl("busNo")? "visible": "hidden"'>
                      <label class="e-error" style="display: block;">*Bus number is required</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label  class="required">Driver Name</label>
                    <ejs-dropdownlist formControlName="driverName" [dataSource]='busList' [fields]="{ text: 'driverName', value: 'driverName' }" allowFiltering="true"  popupHeight='200px' floatLabelType='Always' ></ejs-dropdownlist>
                    <div [style.visibility]='validateControl("driverName")? "visible": "hidden"'>
                      <label class="e-error" style="display: block;">*Driver Name is required</label>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="required">Trip Time</label>
                    <ejs-dropdownlist formControlName="tripTime" [dataSource]="dailyPlanList" ></ejs-dropdownlist>
                    <div *ngIf="validateControl('tripTime')" class="text-danger">
                      Trip Time is required.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="required">Trip Date</label>
                    <ejs-datetimepicker formControlName="tripDate" [format]="'dd-MMM-yyyy hh:mm a'"></ejs-datetimepicker>
                    <div [style.visibility]='validateControl("tripDate")? "visible": "hidden"'>
                      <label class="e-error" style="display: block;">*Trip Date is required</label>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <label class="required">Track</label>
                    <ejs-textbox formControlName="track" autocomplete="off"></ejs-textbox>
                    <div [style.visibility]='validateControl("track")? "visible": "hidden"'>
                      <label class="e-error" style="display: block;">*Track is required</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="required">Track Type</label>
                    <ejs-dropdownlist formControlName="trackType" [dataSource]="trackTypeList" ></ejs-dropdownlist>
                    <div [style.visibility]='validateControl("trackType")? "visible": "hidden"'>
                      <label class="e-error" style="display: block;">*Track Type is required</label>
                    </div>
                  </div>
              </div>
              </form>
            </ng-template>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
