<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Daily Plan</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Master Setup</a></li>
            <li class="breadcrumb-item active">Daily Plan</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <ejs-grid #Grid [allowSorting]="true" [allowPaging]="true" [pageSettings]='pageSettings' [editSettings]="editSettings" [toolbar]="toolbar" [gridLines]="'Both'" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' [allowExcelExport]='true' (toolbarClick)='toolbarClick($event)' (excelQueryCellInfo)='exportQueryCellInfo($event)'>
            <e-columns>
              <!-- <e-column field='dailyPlanID' headerText="Daily Plan ID" width="100" minWidth="100" [isPrimaryKey]="true" [visible]="false"></e-column> -->
              <e-column field='tripCode' headerText="Trip Code" width="100" minWidth="100"></e-column>
              <e-column field='tripDate' headerText="Trip Date"
                type="date" [format]="{type: 'date', format:'dd-MMM-yyyy hh:mm a'}"
                width="100" minWidth="100">
              </e-column>
              <e-column field='busNo' headerText="Bus No." width="100" minWidth="100"></e-column>
              <e-column field='driverName' headerText="Driver Name" width="100" minWidth="100"></e-column>
              <e-column field='tripTime' headerText="Trip Time" width="100" minWidth="100"></e-column>
              <e-column field='track' headerText="Track" width="100" minWidth="100"></e-column>
            </e-columns>
            <ng-template #editSettingsTemplate let-data>
              <form [formGroup]="dailyPlanForm">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="required">Trip Code</label>
                    <ejs-dropdownlist formControlName="tripCode" [dataSource]="tripCodeList" [fields]="{ text: 'tripCode', value: 'tripCode' }" placeholder="Select Trip Code" [autofocus]="true"></ejs-dropdownlist>
                    <div *ngIf="validateControl('tripCode')" class="text-danger">
                      Trip Code is required.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label  class="required">Bus No</label>
                    <ejs-dropdownlist formControlName="busNo" [dataSource]='busList' [fields]="{ text: 'busNo', value: 'busNo' }" allowFiltering="true" (change)="onBusNoChange($event.value)" popupHeight='200px' floatLabelType='Always' ></ejs-dropdownlist>
                    <div [style.visibility]='validateControl("busNo")? "visible": "hidden"'>
                      <label class="e-error" style="display: block;">*Bus number is required</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <ejs-textbox id="driverName" formControlName="driverName" placeholder="Driver Name" [readonly]="true" floatLabelType="Always"></ejs-textbox>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="required">Trip Time</label>
                    <ejs-dropdownlist formControlName="tripTime" [dataSource]="dailyPlanList" placeholder="Select Trip Time"></ejs-dropdownlist>
                    <div *ngIf="validateControl('tripTime')" class="text-danger">
                      Trip Time is required.
                    </div>
                  </div>
                </div>
                <div class="row">

                <div class="form-group col-md-6">
                  <label class="required">Trip Date</label>
                  <ejs-datetimepicker formControlName="tripDate" [format]="'dd-MMM-yyyy hh:mm a'" placeholder="Select Trip Date"></ejs-datetimepicker>
                  <div [style.visibility]='validateControl("tripDate")? "visible": "hidden"'>
                    <label class="e-error" style="display: block;">*Trip Date is required</label>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label class="required">Track</label>
                  <ejs-textbox formControlName="track" placeholder="Enter Track" autocomplete="off"></ejs-textbox>
                  <div *ngIf="validateControl('track')" class="text-danger">
                    Track is required.
                  </div>
                </div>
                </div>
              </form>
            </ng-template>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
