<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
          <h4 class="mb-0 font-size-18">Daily Gate Acc Info</h4>
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Daily Acc</a></li>
              <li class="breadcrumb-item active">Daily Gate Expense</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="dailyGateAccForm" (ngSubmit)="onFormSubmit()" onkeydown="if(event.keyCode === 13) {   return false; }">
              <div class="row">
                <div class="col-md-6">
                  <h4 class="mb-4 font-size-16">Daily Gate Acc Info</h4>
                </div>
  
                <div class="col-md-6 text-end">
                  <button type="submit" [disabled]="!dailyGateAccForm.valid" class="btn btn-primary">Save Changes</button>&nbsp;&nbsp;
                  <button type="button" (click)="backToList()" class="btn btn-secondary">Cancel</button>
                </div>
              </div>
  
              <div class="row mt-3 mb-3"> 
                <div class="col-lg-3 col-sm-6">
                  <div class="mb-3">
                    <label >Gate Code</label>
                    <ejs-textbox formControlName="gateCode"  ></ejs-textbox>
                  </div>
                </div>
               
                <div class="col-lg-3 col-sm-6">
                  <div class="mb-3">
                    <label >Acc Date</label>
                    <ejs-datetimepicker formControlName="accDate" [format]="'dd-MMM-yyyy'" ></ejs-datetimepicker>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                  <div class="mb-3">
                    <label >Expense Total Amt</label>
                    <ejs-textbox formControlName="expTotalAmt" ></ejs-textbox>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                  <div class="mb-3">
                    <label >Income Total Amt</label>
                    <ejs-textbox formControlName="incTotalAmt" ></ejs-textbox>
                  </div>
                </div>


                <div class="col-lg-3 col-sm-6">
                  <div class="mb-3">
                    <label >Income Credit Amt</label>
                    <ejs-textbox formControlName="incCreditAmt" ></ejs-textbox>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                  <div class="mb-3">
                    <label >Income Receive Amt</label>
                    <ejs-textbox formControlName="incReceiveAmt" ></ejs-textbox>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                  <div class="mb-3">
                    <label>Remark</label>
                    <ejs-textbox formControlName="remark" rows="2" [multiline]="true" maxlength="500" autocomplete="off"></ejs-textbox>
                  </div>
                </div>


              </div>
            </form>
            <div class="row mt-2">
              <div class="col-lg-12">
                <h4 class="mb-4 font-size-16">Daily Gate Expense</h4>

                <ejs-grid #Grid [allowSorting]="true" [allowPaging]="true" [pageSettings]='pageSettings' [editSettings]="editSettings" [toolbar]="toolbar" [gridLines]="'Both'" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' [allowExcelExport]='true' (toolbarClick)='toolbarClick($event)' (excelQueryCellInfo)='exportQueryCellInfo($event)'>
                  <e-columns>
                    <e-column field='expNo' headerText="ID" width="130" minWidth="130" [isPrimaryKey]="true"></e-column>
                    <e-column field='expDate' headerText="Date" type="date" [format]="{type: 'date', format:'dd-MMM-yyyy'}" width="100" minWidth="100"></e-column>
                    <e-column field='gateCode' headerText="Gate" width="80" minWidth="80"></e-column>
                    <e-column field='expName' headerText="Expense Type" width="130" minWidth="130"></e-column>
                    <e-column field='paidType' headerText="Paid Type" width="100" minWidth="100"></e-column>
                    <e-column field='amount' headerText="Amount" width="100" minWidth="100" textAlign="right" headerTextAlign="left"></e-column>
                    <e-column field='description' headerText="Description" width="300" minWidth="100"></e-column>
                    <e-column field='remark' headerText="Remark" width="300" minWidth="100"></e-column>
                  </e-columns>
                  <ng-template #editSettingsTemplate let-data>
                    <form [formGroup]="dailyGateExpenseForm">
                        <div class="row mb-2">   
                          <div class="form-group col-md-6">
                            <label class="required">Date</label>
                            <ejs-datepicker formControlName="expDate" [format]="'dd-MMM-yyyy'"></ejs-datepicker>
                            <div [style.visibility]='validateControl("expDate")? "visible": "hidden"'>
                                <label class="e-error" style="display: block;">*Date is required</label>
                            </div>
                          </div>    
                          <div class="form-group col-md-6">
                              <label class="required">Expense Type</label>
                              <ejs-dropdownlist formControlName="expCode" [dataSource]="expenseTypeList" [fields]="{ text: 'expenseName', value: 'expCode' }" (change)="onExpenseTypeChange($event.value)"  allowFiltering="true"></ejs-dropdownlist>
                              <div [style.visibility]='validateControl("expCode")? "visible": "hidden"'>
                                  <label class="e-error" style="display: block;">*Expense Type is required</label>
                              </div>
                          </div>   
                        </div>
    
                        <div class="row mb-2">  
                          <div class="form-group col-md-6" >
                            <label class="required">Amount</label>
                            <ejs-numerictextbox formControlName="amount" format='#' [validateDecimalOnType]='true' min='0' (input)="validateNumberInput($event)" floatLabelType='Always' ></ejs-numerictextbox>
                            <div [style.visibility]='validateControl("amount")? "visible": "hidden"'>
                                <label class="e-error" style="display: block;">*Amount is required</label>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                              <label class="required">Paid Type</label>
                              <ejs-dropdownlist formControlName="paidType" [dataSource]="paidTypeList" ></ejs-dropdownlist>
                              <div [style.visibility]='validateControl("paidType")? "visible": "hidden"'>
                                  <label class="e-error" style="display: block;">*Paid Type is required</label>
                              </div>
                          </div>      
                        </div>
    
                        <div class="row mb-2"> 
                          <div class="form-group col-md-6 text-area">
                              <label >Description</label>
                              <ejs-textbox formControlName="description" rows="2" [multiline]="true" maxlength="500" autocomplete="off" floatLabelType='Always'></ejs-textbox>
                              <div [style.visibility]='validateControl("description")? "visible": "hidden"'>
                                <label class="e-error" style="display: block;">*Description is required</label>
                              </div>
                          </div>
                          <div class="form-group col-md-6 text-area">
                              <label >Remark</label>
                              <ejs-textbox formControlName="remark" rows="2" [multiline]="true" maxlength="500" autocomplete="off" floatLabelType='Always'></ejs-textbox>
                              <div [style.visibility]='validateControl("remark")? "visible": "hidden"'>
                                <label class="e-error" style="display: block;">*Remark is required</label>
                              </div>
                          </div>
                        </div>
                    </form>
                  </ng-template>
                </ejs-grid>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  