<section class="content mt-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Change Password</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Accounts</a></li>
                <li class="breadcrumb-item active">Change Password</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()">
              <div class="row justify-content-center px-5 py-3 registerDiv">
                <div class="col-md-6">
                  <div class="card-body">
                    <div class="text-center mb-5">
                     <h4 class="text-primary">Change Password</h4>
                    </div>
                    <div *ngIf="showErrorMsg" class="alert alert-danger" role="alert">
                      <span [innerHTML]="errorMessage"></span>
                    </div>
    
                    <div *ngIf="showSuccessMsg" class="alert alert-success" role="alert">
                      Your password has been reset. Please <a [routerLink]="['/logins']" class="text-primary"> click here to log in. </a>
                    </div>
    
                    <div class="form-group">
                      <label for="email" class="requiredfield">Email</label>
                      <ejs-textbox formControlName="email" type="email"  id="email" readonly="true"></ejs-textbox>
                      <div>
                        <label class="e-error" *ngIf="validateControl('email') && hasError('email', 'required')">*Email is required</label>
                        <label class="e-error" *ngIf="validateControl('email') && hasError('email', 'email')">*Please provide a valid email</label>
                      </div>
                    </div>
    
                    <div class="form-group">
                      <label for="password" class="requiredfield">New Password</label>
                      <ejs-textbox formControlName="password" type="password"  id="password"></ejs-textbox>
                      <div>
                        <label class="e-error" *ngIf="validateControl('password') && hasError('password', 'required')">*Password is required</label>
                      </div>
                    </div>
    
                    <div class="form-group mb-5">
                      <label for="confirmPassword" class="requiredfield">Confirm New Password</label>
                      <ejs-textbox formControlName="confirmPassword" type="password"  id="confirmPassword"></ejs-textbox>
                      <div>
                        <label class="e-error" *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'required')">*Confirm Password is required</label>
                        <label class="e-error" *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'mustMatch')">*Passwords must match</label>
                      </div>
                    </div>
    
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary mr-2" [disabled]="!resetPasswordForm.valid">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </section>
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    
    