<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Income Type</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Master Setup</a></li>
            <li class="breadcrumb-item active">Income Type</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <ejs-grid #Grid [allowSorting]="true" [allowPaging]="true" [pageSettings]='pageSettings' [editSettings]="editSettings" [toolbar]="toolbar" [gridLines]="'Both'" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' [allowExcelExport]='true' (toolbarClick)='toolbarClick($event)' (excelQueryCellInfo)='exportQueryCellInfo($event)'>
            <e-columns>
              <e-column field='incCode' headerText='Income Code' [isPrimaryKey]="true" width="100"></e-column>
              <e-column field='incName' headerText="Income Name" width="120" minWidth="120"></e-column>
              <e-column field='incType' headerText="Income Type" width="120" minWidth="120"></e-column>
              <e-column field="active" headerText="Is Use?" width="70" minWidth="70">
                <ng-template #template let-data>
                  <span [ngClass]="data.active ? 'text-success' : 'text-dark'">
                    {{ data.active ? 'Yes' : 'No' }}
                  </span>
                </ng-template>
              </e-column>
            </e-columns>
            <ng-template #editSettingsTemplate let-data>
              <div [formGroup]="incomeTypeForm">

                <div class="row">
                  <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper">
                      <input
                        formControlName="incCode"
                        id="incCode"
                        type="text"
                        maxlength="7"
                        oninput="this.value = this.value.toUpperCase()"
                        autocomplete="off"
                        [readonly]="isEditMode"
                      >
                      <span class="e-float-line"></span>
                      <label class="e-float-text e-label-top required" for="incCode">Income Code</label>
                    </div>
                    <div [style.visibility]='validateControl("incCode") ? "visible" : "hidden"'>
                      <label class="e-error" for="incCode" style="display: block;">*Income Code is required</label>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper">
                      <input formControlName="incName" id="incName" type="text" maxlength="50"  autocomplete="off">
                      <span class="e-float-line"></span>
                      <label class="e-float-text e-label-top required" for="incName">Income Name</label>
                    </div>
                    <div [style.visibility]='validateControl("incName")? "visible": "hidden"'>
                        <label class="e-error" for="incName" style="display: block;">*Income Name is required</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <ejs-dropdownlist formControlName="incType" [dataSource]='incomeTypeList'  placeholder="Select Income Type"  popupHeight='200px' floatLabelType='Always'></ejs-dropdownlist>
                    <div [style.visibility]='validateControl("incType")? "visible": "hidden"'>
                      <label class="e-error" style="display: block;">*Income type is required</label>
                    </div>
                  </div>
                  <div class="form-group col-md-6 active mt-4" >
                      <ejs-checkbox formControlName="active" label="Active"></ejs-checkbox>
                  </div>

                </div>
              </div>
            </ng-template>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
