<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Bus</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Master Setup</a></li>
            <li class="breadcrumb-item active">Bus</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <ejs-grid #Grid [allowSorting]="true" [allowPaging]="true" [pageSettings]='pageSettings' [editSettings]="editSettings" [toolbar]="toolbar" [gridLines]="'Both'" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' [allowExcelExport]='true' (toolbarClick)='toolbarClick($event)' (excelQueryCellInfo)='exportQueryCellInfo($event)'>
            <e-columns>
              <e-column field='busNo' headerText='Bus No' [isPrimaryKey]="true" width="70" minWidth="70" ></e-column>
              <e-column field='driverName' headerText="Driver Name" width="120" minWidth="120"></e-column>
              <e-column field='noOfSeat' headerText="No Of Seat" width="100" minWidth="120"></e-column>
              <e-column field='owner' headerText="Owner" width="100" minWidth="100"></e-column>
              <e-column field="active" headerText="Is Use?" width="70" minWidth="70">
                <ng-template #template let-data>
                  <span [ngClass]="data.active ? 'text-success' : 'text-dark'">
                    {{ data.active ? 'Yes' : 'No' }}
                  </span>
                </ng-template>
              </e-column>
              <e-column field='remark' headerText="Remark" width="200" minWidth="100"></e-column>
            </e-columns>
            <ng-template #editSettingsTemplate let-data>
              <div [formGroup]="busForm">

                <div class="row">
                  <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper">
                      <input
                        formControlName="busNo"
                        id="busNo"
                        type="text"
                        maxlength="7"
                        oninput="this.value = this.value.toUpperCase()"
                        autocomplete="off"
                        [readonly]="isEditMode"
                      >
                      <span class="e-float-line"></span>
                      <label class="e-float-text e-label-top required" for="busNo">Bus License No</label>
                    </div>
                    <div [style.visibility]='validateControl("busNo") ? "visible" : "hidden"'>
                      <label class="e-error" for="busNo" style="display: block;">*Bus No is required</label>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper">
                      <input formControlName="driverName" id="driverName" type="text" maxlength="50"  autocomplete="off">
                      <span class="e-float-line"></span>
                      <label class="e-float-text e-label-top required" for="driverName">Driver Name</label>
                    </div>
                    <div [style.visibility]='validateControl("driverName")? "visible": "hidden"'>
                        <label class="e-error" for="driverName" style="display: block;">*Driver Name is required</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper">
                      <input formControlName="noOfSeat" id="noOfSeat" pattern="^[0-9]*$" type="number"  autocomplete="off">
                      <span class="e-float-line"></span>
                      <label class="e-float-text e-label-top required" for="noOfSeat">No Of Seat</label>
                    </div>
                    <div [style.visibility]='validateControl("noOfSeat")? "visible": "hidden"'>
                        <label class="e-error" for="noOfSeat" style="display: block;">*No Of Seat is required</label>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <ejs-dropdownlist formControlName="owner" class="required" [dataSource]='ownerList'  placeholder="Owner"  popupHeight='200px' floatLabelType='Always'></ejs-dropdownlist>
                    <div *ngIf="validateControl('owner')" class="text-danger">
                      Owner is required.
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6 text-area">
                      <ejs-textbox formControlName="remark" rows="2" [multiline]="true" maxlength="150" placeholder="Remark" autocomplete="off" floatLabelType='Always'></ejs-textbox>
                      <div [style.visibility]='validateControl("remark")? "visible": "hidden"'>
                        <label class="e-error" style="display: block;">*Remark is required</label>
                      </div>
                    </div>
                  <div class="form-group col-md-6 active mt-4" >
                      <ejs-checkbox formControlName="active" label="Active"></ejs-checkbox>
                  </div>

                </div>
              </div>
            </ng-template>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
